{% extends 'cafeapp/base.html' %}
{% load static %}


{% block body %}
<a href="{% url 'allotsystem' %}">
    <button class="work">Allot System</button>
</a>
<a href="{% url 'sysytemstatuslist' %}">
    <button class="work">System List</button>
</a>

<div class="container mt-4">
    <table class="table table-bordered  card-1 p-4 table-striped ">
        <thead class="table-dark">
        <tr class="border-bottom" style="height:20px;">
            <th>
                <span class="ml-8">User</span>
            </th>
            <th>
                <span class="ml-8">System</span>
            </th>
            <th>
                <span class="ml-2">Login Time</span>
            </th>
            <th>
                <span class="ml-2">Logout Time</span>
            </th>

        </tr>
        </thead>
        <tbody>
        {% for object in object_list %}

        <tr class="border-bottom">
            <td>
                <div class="p-2">
                    <span class="d-block font-weight-bold">{{object.user_history}}</span>
                </div>
            </td>
            <td>
                <div class="p-2">
                    <span class="d-block font-weight-bold">{{object.system_name}}</span>
                </div>
            </td>
            <td>
                <div class="p-2 d-flex flex-row align-items-center mb-2">
                    <div class="d-flex flex-column ml-2">
                        <span class="d-block font-weight-bold">{{object.login_time}}</span>
                    </div>
                </div>
            </td>
            <td>
                <div class="p-2 d-flex flex-row align-items-center mb-2">
                    <div class="d-flex flex-column ml-2">
                        <span class="d-block font-weight-bold">{{object.logout_time}}</span>
                    </div>
                </div>
            </td>
        </tr>

        {% endfor %}
        </tbody>
    </table>
</div>


{% endblock %}