{%extends 'cafeapp/base.html'%}

{% block body %}


<div class="container" align="center">
<form method="post">
    {% csrf_token %}

        <!-- Email input -->
        <div class="form-outline mb-4">

            <label class="form-label">Email address</label>
            <br>
            {{ form.username }}
        </div>

        <!-- Password input -->
        <div class="form-outline mb-4">

            <label class="form-label">Password</label>
            <br>
            {{ form.password }}
        </div>


        <!-- Submit button -->
        <input type="submit" value="Submit" class="btn btn-primary mb-2">



</form>
</div>

{% endblock %}




